{% extends "views/layouts/base.html" %} {% block js %}
<script nonce="{{ nonce }}" src="/assets/js/json-enc.js"></script>
{% endblock %} {% block content %}
<section class="container mt-8 py-24">
  <div class="mx-auto flex w-full flex-col justify-center space-y-6 sm:w-96">
    <div class="flex flex-col space-y-2 text-center">
      <h1 class="text-2xl font-semibold tracking-tight">Reset your password</h1>
      <p class="text-sm text-muted-foreground">
        Secure your account and get back to collaborating
      </p>
    </div>

    <form
      id="{{ form_id }}"
      class="my-6 flex flex-col space-y-4 px-0"
      data-hx-post="{{ api_url }}"
      data-hx-ext="json-enc"
      data-hx-trigger="submit"
    >
      {% from "macros/form.html" import input_required_no_pattern, input_disabled, button
      %} {{ input_disabled(type="email", id="email", name="email", value="{{
      email }}") }} {{ input_required_no_pattern(type="password", id="new_password",
      name="new_password", placeholder="Enter new password", minlength="8",
      title="Password must contain at least 8 characters, including 1 lowercase
      letter, 1 uppercase letter, 1 digit, and 1 special symbol.") }} {{
      input_required_no_pattern(type="password", id="new_password_confirm",
      name="new_password_confirm", placeholder="Confirm new password",
      minlength="8",
      title="Password must contain at least 8 characters, including 1 lowercase
      letter, 1 uppercase letter, 1 digit, and 1 special symbol.") }} {{
      button(id="reset_password_btn", class="btn-base-variant btn-base-size
      text-sm rounded-md flex items-center justify-center", text="Recover your
      account") }}
    </form>
    {% include 'partials/_form_handler.html' %}
  </div>
</section>
{% endblock %}
