<html>
  <body>
    <h3>Dear {{to}},</h3>

    <p>You have been invited to join the hub - {{ hub }} on Jetei. Please click on the following link to verify your account:</p>

    <a href="{{url}}">{{url}}</a>

    <p>Please note that this link will expire within 4 hours.</p>
  </body>
</html>