<html>  
  <body>
    <h3>Dear {{to}},</h3>

    <p>You recently requested for your password to be reset. If this was you, please click on the following link to reset your account password:</p>

    <a href="{{url}}">{{url}}</a>

    <p>Please note that this link will expire within 4 hours.</p>
  </body>
</html>