<html>  
  <body>
    <h3>Dear {{to}},</h3>

    <p>Thank you for registering for Jetei. To complete your registration and
      activate your account, please click on the following link to verify your account:</p>

    <a href="{{url}}">{{url}}</a>

    <p>Please note that this link will expire within 4 hours.</p>
  </body>
</html>