<html>  
  <body>
    <h3>Dear {{to}},</h3>

    <p>Your account has been successfuly reset. Please click on the following link to log into your account:</p>

    <a href="{{url}}">{{url}}</a>

  </body>
</html>