<html>
  <body>
    <h3>Dear {{to}},</h3>

    <p>Thank you for verifying your Jetei account. Please click on the following link to log into your account:</p>

    <a href="{{url}}">{{url}}</a>

  </body>
</html>