@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }

  .btn-base-variant {
    @apply bg-primary text-primary-foreground hover:bg-primary/90;
  }

  .btn-destructive {
    @apply bg-destructive text-destructive-foreground hover:bg-destructive/90;
  }

  .btn-outline {
    @apply border border-input bg-background hover:bg-accent hover:text-accent-foreground;
  }

  .btn-secondary {
    @apply bg-secondary text-secondary-foreground hover:bg-secondary/80;
  }

  .btn-ghost {
    @apply hover:bg-accent hover:text-accent-foreground;
  }

  .btn-link {
    @apply text-primary underline-offset-4 hover:underline;
  }

  .btn-base-size {
    @apply h-10 px-4 py-2;
  }

  .btn-sm {
    @apply h-9 rounded-md px-3;
  }

  .btn-lg {
    @apply h-11 rounded-md px-8;
  }

  .btn-icon {
    @apply h-10 w-10;
  }

  .toast-default {
    @apply border bg-background text-foreground;
  }

  .tooltip-container {
    position: relative;
    display: inline-block;
  }

  .tooltiptext {
    @apply bg-secondary text-secondary-foreground px-6 w-fit text-center py-2 text-[10px];
    visibility: hidden;
    position: absolute;
    z-index: 1;
    bottom: 90%;
    right: 90%;
    transform: translateX(-50%);
    border-radius: 12px;
  }

  .tooltip-container:hover .tooltiptext {
    visibility: visible;
  }

  .cursor {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    pointer-events: none;
  }

  [data-loading] {
    display: none;
  }
}

@layer base {
  * {
    @apply border-border;
    --sb-track-color: #ffffff;
    --sb-thumb-color: #e2e3f1;
    --sb-size: 10px;

    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }

  ::-webkit-scrollbar {
    width: var(--sb-size);
  }

  ::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px;
  }

  html {
    /* scroll-padding-top: 4rem; */
    @apply scroll-pt-16 lg:scroll-pt-0;
  }

  body {
    @apply bg-background text-foreground;
  }

  option {
    @apply text-muted-foreground;
  }

  .toast-error {
    @apply border-destructive bg-destructive text-destructive-foreground;
  }
}

.bg-jetei {
  background: linear-gradient(90deg, #6366f1 0%, #a855f7e6 100%);
}

.text-gradient_indigo-purple {
  background: linear-gradient(90deg, #6366f1 0%, #a855f7e6 100%);
  /* background: linear-gradient(83.21deg,#3245ff 0%,#bc52ee 100%); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* Headings */
#html-previewer-body h1 {
  @apply text-3xl font-bold mb-4;
}

#html-previewer-body h2 {
  @apply text-2xl font-bold mb-3;
}

#html-previewer-body h3 {
  @apply text-xl font-bold mb-2;
}

#html-previewer-body h4 {
  @apply text-lg font-bold mb-2;
}

/* Paragraphs */
#html-previewer-body p {
  @apply mb-4;
}

/* Lists */
#html-previewer-body ul,
#html-previewer-body ol {
  @apply list-disc pl-5 mb-4;
}

/* Code Blocks */
#html-previewer-body pre {
  @apply bg-gray-800 text-white p-4 rounded mb-4 overflow-auto;
}

/* Links */
#html-previewer-body a {
  @apply text-blue-600 underline;
}

#html-previewer-body a:hover {
  @apply text-blue-800;
}

/* Images */
#html-previewer-body img {
  @apply max-w-full h-auto;
}

/* Blockquotes */
#html-previewer-body blockquote {
  @apply border-l-4 border-gray-300 pl-4 mb-4;
}

/* Horizontal Rules */
#html-previewer-body hr {
  @apply my-6 border-gray-300;
}

/* Tables */
#html-previewer-body table {
  @apply w-full border-collapse mb-4;
}

#html-previewer-body th,
#html-previewer-body td {
  @apply border p-2;
}

#html-previewer-body th {
  @apply bg-gray-200;
}
