{% extends "views/layouts/base.html" %} {% block js %}
<script nonce="{{ nonce }}" src="/assets/js/json-enc.js"></script>
<script nonce="{{ nonce }}" src="/assets/js/hub.template.js"></script>
<script nonce="{{ nonce }}" src="/assets/js/nunjucks.min.js"></script>
{% endblock %} {% block content %}
<section class="container mt-12" hx-ext="load-templates">
  <div
    id="{{ form_id }}"
    data-hx-get="{{ api_url }}"
    data-hx-ext="json-enc"
    data-hx-swap="innerHTML"
    data-hx-trigger="load"
    data-hx-target="#hubs-{{ hubId }}-container"
    nunjucks-template="hubs-{{ hubId }}"
  ></div>

  <div
    id="hubs-{{ hubId }}-container"
    class="flex flex-col items-center space-y-2 lg:flex-row lg:space-x-7"
    data-hx-ext="preload"
  ></div>

  <template id="hubs-{{ hubId }}"> </template>
</section>
<script nonce="{{ nonce }}">

  setTimeout(() => {
    const deleteButtons = document.querySelectorAll('.delete-invitee-btn')

    deleteButtons.forEach(async (b) => {
      const inviteeId = b.getAttribute('data-id')
      b.addEventListener('click', async (e) => {
        const card = document.getElementById(`invitee-${inviteeId}`)

        const response = await fetch(`/api/v1/hubs/{{ hubId }}/invitees/${inviteeId}`, {
          method: 'DELETE',
          headers: {
            "Content-Type": "application/json",
          },
        })

        const data = await response.json()

        if (data.type === 'success') {
          card.remove();
        } else {
          console.error(data.api_message)
        }
      })
    })
  }, 4000)
</script>
{% endblock %} {% block footer %} {% include "partials/_footer_alt.html" %} {%
endblock %}
