{% extends "views/layouts/base.html" %} {% block js %}
<script nonce="{{ nonce }}" src="/assets/js/json-enc.js"></script>
<script nonce="{{ nonce }}" src="/assets/js/hub.template.js"></script>
<script nonce="{{ nonce }}" src="/assets/js/nunjucks.min.js"></script>
{% endblock %} {% block content %}
<section class="container mt-12" hx-ext="load-templates">
  <div
    id="{{ form_id }}"
    data-hx-ext="json-enc"
    data-hx-get="{{ api_url }}"
    data-hx-trigger="load"
    data-hx-swap="innerHTML"
    data-hx-target="#hubs-{{ hubId }}-container"
    nunjucks-template="hubs-{{ hubId }}"
  ></div>

  <div
    id="hubs-{{ hubId }}-container"
    class="flex flex-col items-center space-y-2 lg:flex-row lg:space-x-7"
    data-hx-ext="preload"
  ></div>

  <template id="hubs-{{ hubId }}"> </template>
</section>
{% endblock %} {% block footer %} {% include "partials/_footer_alt.html" %} {%
endblock %}
