<div class="flex flex-col gap-2 py-4 pt-0">
  <a
    id="{{ item.id }}"
    class="flex flex-col items-start gap-2 rounded-lg border p-3 text-left text-sm transition-all hover:bg-accent"
    href="{{ url }}/{{ item.id }}/hubs"
    preload="mouseover"
  >
    <div class="flex w-full flex-col gap-1">
      <div class="flex items-center">
        <div class="flex items-center gap-2">
          <div class="font-semibold">{{ item.name }}</div>
        </div>
        <div class="ml-auto text-xs">
          {{ formatDistanceToNow(item.updated_at) }}
        </div>
      </div>
      <div class="text-xs font-medium">{{ item.subject }}</div>
    </div>
    <div class="line-clamp-2 text-xs text-muted-foreground">
      {{ subString(item.markdown.text, 300) }}
    </div>
  </a>
</div>
