<div
  id="search-modal"
  class="relative z-[70] hidden"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
>
  <div
    id="search-blur"
    class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
  ></div>

  <div
    class="fixed inset-0 z-10 w-screen overflow-y-auto search-content"
    id="search-modal-content"
  >
    <div
      class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0"
    >
      <div
        class="relative transform overflow-hidden rounded-lg bg-card bg-opacity-95 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg"
      >
        <button
          id="search-modal-close-btn"
          class="bg-secondary text-gray-400 rounded-full hover:text-gray-600 absolute top-4 right-4"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
        <div class="px-4 pb-4 pt-5 sm:p-6 sm:pb-4 mb-10">
          <div class="sm:flex item-center justify-center">
            <div class="text-center sm:ml-4 sm:mt-0 sm:text-left px-2 py-7">
              <div>
                <div class="hidden sm:block relative cursor-pointer">
                  <div class="absolute left-2 top-2">
                    <span class="">
                      <svg
                        class=""
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        fill="none"
                        width="24"
                        height="24"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <circle cx="11" cy="11" r="8" />
                        <path d="m21 21-4.3-4.3" />
                      </svg>
                    </span>
                  </div>
                  <input
                    class="flex h-10 w-full select-none pl-10 bg-background px-24 py-2 text-sm text-muted-foreground rounded-md border border-input ring-offset-background file:border-0 file:text-white file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                    type="text"
                    id="search-workspace-input"
                    name="search-workspace-input"
                    minlength="6"
                    placeholder="Tab to Search..."
                    data-hx-trigger="keyup changed delay:1s" 
                    data-hx-target="#search-results" 
                    data-hx-swap="innerHTML"
                  />
                </div>
                <div
                  class="mt-4 flex flex-col items-center justify-center space-y-3 w-full"
                >
                  <ul id="search-results" role="list" class="flex flex-col w-full h-auto">
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script nonce="{{ nonce }}">
  const searchModal = document.getElementById('search-modal');
  const searchModalContent = document.getElementById('search-modal-content');
  const searchInput = document.getElementById('search-input');
  const searchWorkInput = document.getElementById('search-workspace-input');
  const searchModalBlur = document.getElementById('search-blur');
  const searchModalClose = document.getElementById('search-modal-close-btn');
  const searchModalResults = document.getElementById('search-results');
  let url = '{{ url }}';

  const searchPrefixes = ['bookmarks:', 'hubs:', 'notes:'];
  let currentPrefixIndex = 0;

  searchWorkInput.addEventListener('keydown', (event) => {
    if (event.key === 'Tab') {
      event.preventDefault(); 

      searchWorkInput.value = '';

      currentPrefixIndex = (currentPrefixIndex + 1) % searchPrefixes.length;
      searchWorkInput.value = searchPrefixes[currentPrefixIndex];
    }
  });

  searchWorkInput.addEventListener('input', (event) => {
    const inputValue = event.target.value;
    let [prefix, text] = inputValue.split(':')
    prefix = prefix + ':'

    if (prefix && text) {
      const searchParams = new URLSearchParams();
      searchParams.append('prefix', prefix);
      searchParams.append('text', text);
      const url = '/workspace/search?' + searchParams.toString();
      htmx.ajax('GET', url, '#search-results');
    }
  });

  if (
    !url ||
    !url.includes('workspace') ||
    !url.includes('settings') ||
    !url.includes('privacy') ||
    !url.includes('terms')
  ) {
    if (searchInput) {
      searchInput.addEventListener('click', () => {
        searchModal.classList.remove('hidden');
      });
    }

    searchModalClose.addEventListener('click', () => {
      searchModal.classList.add('hidden');
      searchModalResults.innerHTML = '';
    });
  }
</script>
