{% from "macros/icon.html" import avatar_button %}

{% set id = genId() %}
{% set initials = generateInitials() %}
{% set name = user.name %}
{% set avatar = user.avatar %}

<div class="relative">
  {% if avatar %}
  <img data-id="avatar-img" id="user-avatar-btn-{{ id }}" src="{{ avatar }}" class="border-2 h-10 w-10 rounded-full object-cover cursor-pointer" title="{{ name }}"/>
  {% else %}
  {{ avatar_button(id, avatar_class="btn-ghost h-10 w-10 rounded-full cursor-pointer", user_initials=initials, title=name) }}
  {% endif %}
  <div
    id="dropdown-box"
    data-state="closed"
    tabindex="0"
    class="absolute hidden top-11 right-6 z-50 min-w-[8rem] overflow-hidden rounded-md border bg-popover p-1 text-popover-foreground shadow-md data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 data-[state=closed]:zoom-out-95 data-[state=open]:zoom-in-95 data-[side=bottom]:slide-in-from-top-2 data-[side=left]:slide-in-from-right-2 data-[side=right]:slide-in-from-left-2 data-[side=top]:slide-in-from-bottom-2"
  >
    <div
      class="relative flex select-none items-center rounded-sm px-2 py-1.5 text-sm outline-none transition-colors focus:bg-accent focus:text-accent-foreground data-[disabled]:pointer-events-none data-[disabled]:opacity-50"
    >
      <div class="cursor-pointer">
        <a
          href="/settings"
          class="text-[14.5px] flex items-center justify-center"
          preload="mouseover"
        >
          Settings
        </a>
      </div>
    </div>
    <div class="-mx-1 my-1 h-px bg-muted"></div>
    <div
      class="relative flex cursor-pointer select-none items-center rounded-sm px-2 py-1.5 text-sm outline-none transition-colors focus:bg-accent focus:text-accent-foreground data-[disabled]:pointer-events-none data-[disabled]:opacity-50"
    >
      <a
        href="{{ logoutUrl }}"
        class="text-[14.5px] flex items-center justify-center"
      >
        Logout
      </a>
    </div>
  </div>
  <script nonce="{{ nonce }}">
    if (!document.getElementById('user-avatar-btn-{{ id }}')) {
      console.error('Something went wrong - unable to open user dropdown!');
    }

    if (document.getElementById('user-avatar-btn-{{ id }}')) {
      document.getElementById('user-avatar-btn-{{ id }}').addEventListener('click', (e) => {
        if (document.getElementById('dropdown-box') && document.getElementById('dropdown-box').getAttribute('data-state') === 'open') {
          document.getElementById('dropdown-box').setAttribute('data-state', 'closed');
          document.getElementById('dropdown-box').classList.toggle('hidden');
        } else if (
          document.getElementById('dropdown-box') &&
          document.getElementById('dropdown-box').getAttribute('data-state') === 'closed'
        ) {
          document.getElementById('dropdown-box').setAttribute('data-state', 'open');
          document.getElementById('dropdown-box').classList.toggle('hidden');
        }
      });
    }

    if (document.getElementById('dropdown-box')) {
      document.getElementById('dropdown-box').addEventListener('mouseleave', (e) => {
        document.getElementById('dropdown-box').setAttribute('data-state', 'closed');
        document.getElementById('dropdown-box').classList.toggle('hidden');
      });
    }
</script>
</div>
